@import "~bootstrap/scss/bootstrap.scss";
body{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}
.parent{
    margin: auto;

}
.as, .bs, .cs{
    display: flex;
    justify-content: center;
}
.cell{
    height: 150px;
    width: 100%;
    margin: auto;
    font-size: 100px;
}
